@using My101Romance.Services
@model My101Romance.Services.Config

<footer class="text-orange footer py-5" style="background-color: #FFC0CB; bottom: 0;">
  <div class="container">
    <div class="row">
      <!-- Логотип та назва проекту -->
      <div class="col-md-4">
        <h5>@Config.ProjectName</h5>
        <p>@Config.ProjectShortDesc</p>
      </div>
      <!-- Контакти -->
      <div class="col-md-4">
        <h5>Go-to-Action</h5>
        <p>
          Email: @Config.Email<br>
          Phone: @Config.ContactPhone
          <br/>
          Phone: @Config.ContactPhoneShort
          
        </p>
      </div>
      <!-- Посилання на соцмережі -->
      <div class="col-md-4">
        <h5>Social Links</h5>
        <ul class="list-unstyled">
          <li><a href="@Config.Facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a href="@Config.Twitter"><i class="fab fa-twitter"></i> Twitter/X</a></li>
          <li><a href="@Config.Instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="@Config.LinkedIn"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

