@model IEnumerable<My101Romance.Domain.Entity.Card>


<div class="container">
    <h1 class="text-center">Top Cards</h1>
    <div class="row">
        @foreach (var (card, index) in Model.Select((item, index) => (item, index)))
        {
        <div class="col-lg-6 col-md-12 mb-3">
            <div class="card" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="@card.ImagePath" class="card-img" alt="card">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Card @(index + 1): @card.Title</h3>
                            <p class="card-text">@card.Description</p>
                            @if (User.IsInRole("Admin"))
                            {
                            <p>ID: @card.Id</p>
                            <p>Rating: @card.Rating</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
